*{box-sizing: border-box;}
[class*="col-"]{ float: left; padding: 0% 3%;}

body {background-color: rgb(235, 237, 238);
    width: auto; max-width: 1200px; margin: 2% 4%; padding: auto;
}

nav{position:absolute; width: 100%; max-width: 2100px;border-radius: 10px 10px 0px 0px;}
nav a{font-weight: bold; font-family: 'STIX Two Text', serif; }
.map{position:inline; text-align: center;}

img{
    width: 100%;
}